node_modules
public
public
resources/_gen/assets/css
static/.DS_Store
static/img/.DS_Store
resources/_gen/assets/css
static/img/members/2025/.DS_Store
static/img/members/.DS_Store
static/img/members/.DS_Store
static/img/slide/.DS_Store
static/img/.DS_Store
static/.DS_Store
.DS_Store
